<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
 
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1050" key="73ebebde-32c9-4d98-88aa-9827988508bd" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-07-20T10:56:54" updateDate="2021-07-20T10:57:09" nodeName="Homepage" urlName="homepage" path="-1,1050" isDoc="" nodeType="1047" creatorName="TrainingUmbraco7" writerName="TrainingUmbraco7" writerID="0" template="1046" nodeTypeAlias="homePage">
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <footerText><![CDATA[Copyright Widgets Ltd 2021]]></footerText>
    <simpleContentPage id="1054" key="ead033cd-f869-4447-9863-4169a5ea4e7d" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2021-07-20T11:58:32" updateDate="2021-07-20T12:07:43" nodeName="Contact Us" urlName="contact-us" path="-1,1050,1054" isDoc="" nodeType="1053" creatorName="TrainingUmbraco7" writerName="TrainingUmbraco7" writerID="0" template="1052" nodeTypeAlias="simpleContentPage">
      <bodyText><![CDATA[<p>Si quieres contactarte con nosotros, hay diferentes formas de hacerlo</p>
<p><strong>Télefono</strong></p>
<p>555 555 55 55</p>
<p><strong>Twitter</strong></p>
<p>@WidgetsRUS</p>
<p><strong>Email</strong></p>
<p>info@widgetrus.com</p>]]></bodyText>
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
    </simpleContentPage>
    <articlesMain id="1062" key="2b042395-3f1c-44fb-b625-d28444921a82" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2021-07-20T13:12:32" updateDate="2021-07-21T07:33:39" nodeName="Articles" urlName="articles" path="-1,1050,1062" isDoc="" nodeType="1057" creatorName="TrainingUmbraco7" writerName="TrainingUmbraco7" writerID="0" template="1056" nodeTypeAlias="articlesMain">
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesItem id="1063" key="565d4218-c701-4899-b680-951cdb70e95f" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2021-07-20T13:14:00" updateDate="2021-07-21T07:35:17" nodeName="Article 1" urlName="article-1" path="-1,1050,1062,1063" isDoc="" nodeType="1059" creatorName="TrainingUmbraco7" writerName="TrainingUmbraco7" writerID="0" template="1058" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Article 1]]></articleTitle>
        <articleContents><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien ipsum, condimentum at lacus in, tempus bibendum massa. Pellentesque nec nisi nec erat vulputate pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis volutpat nulla non erat malesuada varius. Suspendisse ultrices libero in elementum lacinia. Vivamus fermentum dictum augue at cursus. Donec a massa ut urna feugiat semper. Praesent placerat erat ut iaculis sagittis. Proin diam mi, volutpat sed nisi non, lobortis rutrum libero. Vivamus fringilla feugiat mi, in euismod tellus sodales vitae. Donec aliquam placerat pellentesque. Nullam at interdum velit. Quisque gravida tristique consequat. Sed lorem urna, suscipit quis auctor non, cursus quis orci.</span></p>]]></articleContents>
      </articlesItem>
      <articlesItem id="1064" key="1456c928-d5ba-47b0-aa92-9c5517492027" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2021-07-20T13:14:10" updateDate="2021-07-21T07:35:13" nodeName="Article 2" urlName="article-2" path="-1,1050,1062,1064" isDoc="" nodeType="1059" creatorName="TrainingUmbraco7" writerName="TrainingUmbraco7" writerID="0" template="1058" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Article 2]]></articleTitle>
        <articleContents><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien ipsum, condimentum at lacus in, tempus bibendum massa. Pellentesque nec nisi nec erat vulputate pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis volutpat nulla non erat malesuada varius. Suspendisse ultrices libero in elementum lacinia. Vivamus fermentum dictum augue at cursus. Donec a massa ut urna feugiat semper. Praesent placerat erat ut iaculis sagittis. Proin diam mi, volutpat sed nisi non, lobortis rutrum libero. Vivamus fringilla feugiat mi, in euismod tellus sodales vitae. Donec aliquam placerat pellentesque. Nullam at interdum velit. Quisque gravida tristique consequat. Sed lorem urna, suscipit quis auctor non, cursus quis orci.</span></p>]]></articleContents>
      </articlesItem>
      <articlesItem id="1065" key="a0cf2953-fd2f-47bf-a31f-e9696c9fe7cd" parentID="1062" level="3" creatorID="0" sortOrder="2" createDate="2021-07-20T13:14:20" updateDate="2021-07-21T07:35:20" nodeName="Article 3" urlName="article-3" path="-1,1050,1062,1065" isDoc="" nodeType="1059" creatorName="TrainingUmbraco7" writerName="TrainingUmbraco7" writerID="0" template="1058" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Article 3]]></articleTitle>
        <articleContents><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien ipsum, condimentum at lacus in, tempus bibendum massa. Pellentesque nec nisi nec erat vulputate pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis volutpat nulla non erat malesuada varius. Suspendisse ultrices libero in elementum lacinia. Vivamus fermentum dictum augue at cursus. Donec a massa ut urna feugiat semper. Praesent placerat erat ut iaculis sagittis. Proin diam mi, volutpat sed nisi non, lobortis rutrum libero. Vivamus fringilla feugiat mi, in euismod tellus sodales vitae. Donec aliquam placerat pellentesque. Nullam at interdum velit. Quisque gravida tristique consequat. Sed lorem urna, suscipit quis auctor non, cursus quis orci.</span></p>]]></articleContents>
      </articlesItem>
    </articlesMain>
  </homePage>
</root>